# Disallow all files - allows for whitelist instead of blacklist
*

# Allow specific file with a !
# e.g. !specific_file

# Works with directories in Docker
# e.g. !my_directory/

# Works with directories in Npm
# e.g. !my_directory/**/*

!api
!bin
!case
!components
!db
!document
!index
!middleware
!page
!partial
!public
!search
!service
!src
!templateEngine

!app.js
!.env
!package.json
!package-lock.json
