{% extends "page.njk" %}
{% block pageTitle %}Search - {{ super() }}{% endblock %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{# {% from "govuk/components/details/macro.njk" import govukDetails %} #}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block innerContent %}
    <form method="post" action="/search">
        {% call govukFieldset({
            legend: {
                text: "Search",
                classes: "govuk-fieldset__legend--xl",
                isPageHeading: true
            }
        }) %}

            <p class="govuk-body">You can search the TC-19 medical document for your case here.</p>

            <h2 class="govuk-heading-l">How to use this tool</h2>
            <p class="govuk-body">You can search using:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li>a word, like 'jaw'</li>
                <li>a phrase, like 'knee injuries'</li>
                <li>a whole question, like 'What injuries did the applicant have?'</li>
            </ul>

            <p class="govuk-body">If you search for 'jaw', for example, it will find similar words like 'mandible'.</p>
            <p class="govuk-body">The tool might not find all the information you need, so you might have to check the document manually.</p>

            {{ govukInput({
                label: {
                    text: "Search",
                    classes: "govuk-visually-hidden"
                },
                hint: {
                    text: "For example, 'assault'"
                },
                id: "query",
                name: "query",
                classes: "govuk-input--width-20 govuk-!-margin-right-4",
                formGroup: {
                    afterInput: {
                        html: govukButton({
                            text: "Search",
                            classes: "govuk-!-margin-bottom-0"
                        })
                    }
                }
            }) }}

            {# {{ govukDetails({
                summaryText: "How to use this tool",
                html: "
                <p class='govuk-body'>You can access all the medical documents for your cases here.</p>
                <p class='govuk-body'>You can search using:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    <li>a word, like 'jaw'</li>
                    <li>a phrase, like 'knee injuries'</li>
                    <li>a whole question, like 'What injuries did the applicant have?'</li>
                </ul>

                <p class='govuk-body'>If you search for 'jaw', for example, it will find similar words like 'mandible'.</p>
                <p class='govuk-body'>The tool might not find all the information you need, so you might have to check the document manually.</p>
                "
            }) }} #}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% endcall %}
    </form>
{% endblock %}
